# Worldcoin Developer Portal API Key and App ID (for payment/verification)
APP_ID="INSERT_APPID"
DEV_PORTAL_API_KEY="APIKEY"
WLD_CLIENT_ID=
WLD_CLIENT_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_WLD_ACTION_ID=

# Redis configuration
REDIS_URL=redis://127.0.0.1:6379

# Turso Database configuration
TURSO_DATABASE_URL=your_turso_database_url
TURSO_AUTH_TOKEN=your_turso_auth_token

# Pusher configuration
PUSHER_APP_ID=your_pusher_app_id
PUSHER_KEY=your_pusher_key
PUSHER_SECRET=your_pusher_secret
PUSHER_CLUSTER=your_pusher_cluster

# Public Pusher keys (for client-side)
NEXT_PUBLIC_PUSHER_KEY=your_pusher_key
NEXT_PUBLIC_PUSHER_CLUSTER=your_pusher_cluster
